body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    text-align: center
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

}

#grid {
    margin: 0;
    display: inline-block;
}


.row {
    display: flex;
}

.node {
    background-color: #121212;
    width: 19px;
    height: 19px;
    z-index: 10;

    border-right: 1px solid rgb(54, 54, 54);
    border-bottom: 1px solid rgb(54, 54, 54);

    display: block;
    transition: 0.3s;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.row {
    border-left: 1px solid rgb(54, 54, 54);
}

#row1 {
    border-top: 1px solid rgb(54, 54, 54);
}



.wall {
    background-color: rgb(197, 235, 239) !important;
}

.start {
    background-color: rgb(0, 255, 0) !important;
}

.end {
    background-color: rgb(255, 0, 0) !important;
}

.path {
    background-color: rgb(255, 249, 81);
}

.visited {
    background-color: #396bcf;
}

.opened {
    background-color: rgb(66, 158, 66);
}

.node p {
    text-align: left;
    padding-left: 3px;
    margin: 0;
    font-size: 5px;
    color: rgb(0, 0, 0);
    z-index: 1001;
}

#popup {
    opacity: 0;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    padding: 20px;
    z-index: 1;
    line-height: 80px;
    transition: 2s;
    display: flex;
    background-color: rgb(237, 95, 95);
    border: 2px solid rgb(0, 0, 0);

    align-items: center;
    justify-content: center;
}

#popup p {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


/* -----------------Control Panel----------------- */

#controlPanel{
    margin-top: 10px;
    background-color: #121212;
    flex-direction: row;
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    color: white;
    padding: 0 20px;
}

button {
    margin: 10px;
    background-color: lightblue;
    padding: 10px;
    margin: 0px 5px;
    border: none;
    height: 50px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(116, 145, 154);
}

#algorithms{
    display: flex;
}



/*--------------Console--------------*/
#console {
    width: 100%;
    overflow: auto;

}

#console p {
    color: white;
    font-size: 0.8rem;
    display: inline;
    font-family: monospace;
}

/*-–------Content-----------*/

h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: auto
}


.content {
    /* background: blue; */
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    width: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.GIF {
    /* background-color: pink; */
    height: 330px;
    width: 56%;
    display: flex;
    align-items: center;
}

.GIF img {
    width: 100%;
}


.text {
    background-color: #272729;
    /* background-color: lightblue; */
    width: 50%;
    position: absolute;
    z-index: 2;
    display: inline-block;
    right: 0;
    text-align: right;
    border-radius: 7px;
    padding: 0 20px;
    border: 1px solid #3e3e42;
    /* background-color: #121212; */
}

.leftLi .text {
    left:0;
    text-align: left;
}



.leftLi .GIF {
    margin-left: auto;
}

.text h2 {
    position: absolute;
    right: 0;
    top: -30%;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bolder;
    /* color: rgb(119, 119, 237); */
    color: rgb(255, 249, 81);
}

.leftLi h2 {
    left:0;
    top: -40%;
}

.text p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    font-weight: 500;
    color: rgb(149, 195, 210);

}



@media screen and (max-width: 1250px) {
    li {
        width: 80%;
    }

    h1 {
        background-color: blue;
    }
}