body {
    background-color: black;
}




#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#grid{
    margin: auto;
    display: inline-block;
}


.row {
    display: flex;
}

.node {
    background-color: rgb(48, 48, 48);
    width: 19px;
    height: 19px;


    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    display: block;
    transition: 0.4s;
}

.row {
    border-left: 1px solid gray;
}

#row1 {
    border-top: 1px solid gray;
}



.wall {
    background-color: white !important;
}

.start{
    background-color: green !important;
}

.end{
    background-color: red !important;
}

.path{
    background-color: yellow;
}

.visited{
    background-color: lightblue;
}

.test {
    background-color: lightgreen;
}

p{
    margin:0;
    font-size: 5px;
    color: black;
    z-index: 1001;
}